@import "../../asserts/mixin.scss";

.match-page {
  width: 100%;
  position: relative;
  padding: 12px;
  .header {
    @include flex-init(row, space-between);
    &_title {
      font-size: 20px;
      font-weight: 500;
    }
  }
  .result {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 40px;
    padding: 10px;
    box-sizing: border-box;
    .item {
      @include flex-init(row, flex-start);
      height: 140px;
      padding: 6px;
      background: #fff;
      margin-bottom: 12px;
      img {
        width: 66px;
        height: 66px;
        margin-left: 10px;
        object-fit: cover;
      }
      &-right {
        @include flex-init(column, space-between);
        flex: 1;
        height: 110px;
        margin-left: 10px;
        .name {
          display: inline;
          font-size: 16px;
          font-weight: bolder;
        }
        .status {
          font-size: 12px;
          display: inline;
          color: white;
          border-radius: 15%;
        }
        .times span {
          font-size: 10px;
        }
      }
    }
  }
}
