.login-page {
  .register {
    margin-top: 20px;
    text-align: center;
    color: lightgray;
  }
  .verifyCode {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 140px;
  }
}
