<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ft.server.dao.PeopleDAO">
    <resultMap id="peopleMap" type="People">
        <id column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="email" property="email" />
        <result column="user_sex" property="userSex" />
        <result column="avatar" property="avatar" />
        <result column="start_nation" property="startNation" />
        <result column="start_city" property="startCity" />
        <result column="dest_nation" property="destNation" />
        <result column="dest_city" property="destCity" />
        <result column="transfer_nation1" property="transfer1Nation" />
        <result column="transfer_city1" property="transfer1City" />
        <result column="transfer_nation2" property="transfer2Nation" />
        <result column="transfer_city2" property="transfer2City" />
        <result column="transfer_nation3" property="transfer3Nation" />
        <result column="transfer_city3" property="transfer3City" />
        <result column="transfer_nation4" property="transfer4Nation" />
        <result column="transfer_city4" property="transfer4City" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="perf_vehicle" property="perfVehicle" />
        <result column="meg" property="meg" />
        <result column="user_regtime" property="userRegTime" />
    </resultMap>

    <select id="queryPeopleById" resultMap="peopleMap">
        SELECT
            user_id,
            username,
            email,
            user_sex,
            avatar,
            start_nation,
            start_city,
            dest_nation,
            dest_city,
            transfer_nation1,
            transfer_city1,
            transfer_nation2,
            transfer_city2,
            transfer_nation3,
            transfer_city3,
            transfer_nation4,
            transfer_city4,
            start_time,
            end_time,
            perf_vehicle,
            meg,
            user_regtime
        FROM users
        WHERE user_id=#{userId};
    </select>

    <select id="queryPeopleRandom" resultMap="peopleMap">
        select
            user_id,
            username,
            email,
            user_sex,
            avatar,
            start_nation,
            start_city,
            dest_nation,
            dest_city,
            start_time,
            end_time,
            perf_vehicle,
            meg,
            user_regtime
            FROM users
            ORDER BY RAND()
            LIMIT 4;
    </select>

    <select id="strictMatchPeopleBySearchMeg" resultMap="peopleMap">
        select
            user_id,
            username,
            email,
            user_sex,
            avatar,
            start_nation,
            start_city,
            dest_nation,
            dest_city,
            transfer_nation1,
            transfer_city1,
            transfer_nation2,
            transfer_city2,
            transfer_nation3,
            transfer_city3,
            transfer_nation4,
            transfer_city4,
            start_time,
            end_time,
            perf_vehicle,
            meg,
            user_regtime
            FROM users
            WHERE
            start_time &lt;= #{endTime}
            AND end_time >= #{startTime}
            AND (start_city = #{startCity}
            OR transfer_city1 = #{startCity}
            OR transfer_city2 = #{startCity}
            OR transfer_city3 = #{startCity}
            OR transfer_city4 = #{startCity})
            AND (dest_city = #{destCity}
            OR transfer_city1 = #{destCity}
            OR transfer_city2 = #{destCity}
            OR transfer_city3 = #{destCity}
            OR transfer_city4 = #{destCity})
    </select>

    <select id="fuzzyMatchPeopleBySearchMeg" resultMap="peopleMap">
        select
            user_id,
            username,
            email,
            user_sex,
            avatar,
            start_nation,
            start_city,
            dest_nation,
            dest_city,
            transfer_nation1,
            transfer_city1,
            transfer_nation2,
            transfer_city2,
            transfer_nation3,
            transfer_city3,
            transfer_nation4,
            transfer_city4,
            start_time,
            end_time,
            perf_vehicle,
            meg,
            user_regtime
            FROM users
            WHERE
            start_time &lt;= #{endTime}
            AND end_time >= #{startTime}
            AND user_id != #{userId}
            AND (start_city = #{startCity}
            OR transfer_city1 = #{startCity}
            OR transfer_city2 = #{startCity}
            OR transfer_city3 = #{startCity}
            OR transfer_city4 = #{startCity})
            AND (dest_city = #{destCity}
            OR transfer_city1 = #{destCity}
            OR transfer_city2 = #{destCity}
            OR transfer_city3 = #{destCity}
            OR transfer_city4 = #{destCity})
    </select>
<!--    <select id="queryPeopleById" resultMap="peopleMap">-->
<!--            select-->
<!--            user_id,-->
<!--            username,-->
<!--            email,-->
<!--            user_sex,-->
<!--            avatar,-->
<!--            start_nation,-->
<!--            start_city,-->
<!--            dest_nation,-->
<!--            dest_city,-->
<!--            start_time,-->
<!--            end_time,-->
<!--            perf_vehicle,-->
<!--            meg,-->
<!--            user_regtime-->
<!--            FROM users-->
<!--            WHERE user_id = #{userId}-->
<!--    </select>-->

    <select id="queryPeopleByName" resultMap="peopleMap">
            select
            user_id,
            username,
            email,
            user_sex,
            avatar,
            start_nation,
            start_city,
            dest_nation,
            dest_city,
            start_time,
            end_time,
            perf_vehicle,
            meg,
            user_regtime
            FROM users
            WHERE username LIKE #{peopleName}
    </select>

</mapper>
