<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ft.server.dao.UserDAO">
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
        insert into users(username,password,email,qq_number,user_sex,avatar,start_nation,
            start_city,dest_nation,dest_city,transfer_nation1,transfer_city1,
            transfer_nation2,transfer_city2,transfer_nation3,transfer_city3,
            transfer_nation4,transfer_city4,start_time,end_time,perf_vehicle,
            meg,user_regtime,user_modetime)
        values(#{username}, #{password}, #{email},#{qq}, #{userSex}, #{avatar},
            #{startNation}, #{startCity}, #{destNation}, #{destCity},
            #{transfer1Nation}, #{transfer1City},#{transfer2Nation}, #{transfer2City},
            #{transfer3Nation}, #{transfer3City},#{transfer4Nation}, #{transfer4City},
            #{startTime},#{endTime}, #{perfVehicle}, #{meg}, #{userRegTime}, #{userModeTime});
    </insert>

    <resultMap id="userMap" type="User">
        <id column="user_id" property="userId" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="email" property="email" />
        <result column="user_sex" property="userSex" />
        <result column="avatar" property="avatar" />
        <result column="start_nation" property="startNation" />
        <result column="start_city" property="startCity" />
        <result column="dest_nation" property="destNation" />
        <result column="dest_city" property="destCity" />
        <result column="qq_number" property="qq" />
        <result column="transfer_nation1" property="transfer1Nation" />
        <result column="transfer_city1" property="transfer1City" />
        <result column="transfer_nation2" property="transfer2Nation" />
        <result column="transfer_city2" property="transfer2City" />
        <result column="transfer_nation3" property="transfer3Nation" />
        <result column="transfer_city3" property="transfer3City" />
        <result column="transfer_nation4" property="transfer3Nation" />
        <result column="transfer_city4" property="transfer3City" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="perf_vehicle" property="perfVehicle" />
        <result column="meg" property="meg" />
        <result column="user_regtime" property="userRegTime" />
        <result column="user_modetime" property="userModeTime" />
    </resultMap>

    <select id="queryUserByName" resultMap="userMap">
        SELECT
            user_id,
            username,
            password,
            email,
            user_sex,
            avatar,
            start_nation,
            start_city,
            dest_nation,
            dest_city,
            qq_number,
            transfer_nation1,
            transfer_city1,
            transfer_nation2,
            transfer_city2,
            transfer_nation3,
            transfer_city3,
            transfer_nation4,
            transfer_city4,
            start_time,
            end_time,
            perf_vehicle,
            meg,
            user_regtime,
            user_modetime
        FROM users
        WHERE username=#{username};
    </select>

    <update id="updateUser">
        UPDATE users SET
            avatar=#{avatar},
            start_nation=#{startNation},
            start_city=#{startCity},
            dest_nation=#{destNation},
            dest_city=#{destCity},
            start_time=#{startTime},
            transfer_nation1=#{transfer1Nation},
            transfer_city1=#{transfer1City},
            transfer_nation2=#{transfer2Nation},
            transfer_city2=#{transfer2City},
            transfer_nation3=#{transfer3Nation},
            transfer_city3=#{transfer3City},
            transfer_nation4=#{transfer4Nation},
            transfer_city4=#{transfer4City},
            end_time=#{endTime},
            perf_vehicle=#{perfVehicle},
            meg=#{meg},
            user_modetime=#{userModeTime}
            WHERE username=#{username};
    </update>
</mapper>
