@import "../../asserts/mixin.scss";

.home {
  width: 100%;
  position: relative;
  padding: 12px;
  .header {
    @include flex-init(row, space-between);
    &_title {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .search {
    margin: 12px 0;
    background: #fff;
    .am-list-item .am-list-line .am-list-content,
    .am-list-item .am-list-line .am-list-extra {
      font-size: 18px;
    }
    &-addr > div {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }
    &-time {
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box;
      @include flex-init(row, space-between, flex-start);
      &_left {
        color: #000;
      }
      &_right {
        color: #888;
      }
    }
  }

  .hot {
    padding-bottom: 60px;
    h1 {
      font-size: 20px;
    }
    &-lists {
      @include flex-init(row, space-between);
      .hot-lists-item {
        width: 49%;
        margin-bottom: 15px;
        padding: 12px;
        background: #fff;
        box-sizing: border-box;
        border-radius: 12px;
        .profilePicture {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .name {
          display: inline-block;
          font-size: 16px;
          font-weight: bolder;
          padding: 1px;
          background-color: white;
        }
        .status {
          display: inline;
          font-weight: bolder;
          color: white;
          border-radius: 15%;
        }
        .info {
          display: inline-block;
          font-size: 6px;
          margin-right: 5px;
          .info > div {
            display: inline;
            color: white;
            margin-left: 5px;
            background-color: gray;
            border-radius: 10%;
          }
        }
      }
    }
  }

  // .hot {
  //   padding-bottom: 60px;
  //   h1 {
  //     font-size: 20px;
  //   }
  //   &-lists {
  //     @include flex-init(column);
  //     .hot-lists-item {
  //       width: 98%;
  //       margin-bottom: 15px;
  //       padding: 12px;
  //       background: #fff;
  //       box-sizing: border-box;
  //       border-radius: 12px;
  //       .title {
  //         display: inline-block;
  //         font-size: 16px;
  //         font-weight: bolder;
  //         padding: 2px;
  //         color: yellowgreen;
  //         background-color: white;
  //       }
  //       .info {
  //         display: inline-block;
  //         font-size: 6px;
  //         margin-right: 5px;
  //         .info-tags {
  //           display: inline;
  //           color: white;
  //           margin-left: 5px;
  //           background-color: gray;
  //           border-radius: 10%;
  //         }
  //       }
  //       .mumbers {
  //         display: inline-block;
  //         font-size: 12px;
  //         .num {
  //           font-size: 18px;
  //           color: red;
  //         }
  //       }
  //     }
  //   }
  // }
}
