@import "../../asserts/mixin.scss";

.search-page {
  .am-search {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
  .result {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    box-sizing: border-box;
    .item {
      @include flex-init(row, flex-start);
      height: 150px;
      padding: 2px;
      background: #fff;
      margin-bottom: 3px;
      img {
        width: 66px;
        height: 66px;
        object-fit: cover;
        border-radius: 50%;
        margin-left: 20px;
      }
      &-right {
        @include flex-init(column, space-between);
        flex: 1;
        height: 130px;
        margin-left: 16px;
        .name {
          display: inline;
          font-size: 16px;
          font-weight: bolder;
        }
        .status {
          font-size: 12px;
          display: inline;
          color: white;
          border-radius: 15%;
        }
        .times span {
          font-size: 10px;
        }
      }
    }
  }
}
